@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

h1 {
  text-align: center;
  margin-top: 60px;
  font-size: 100px;
  background-image: url(https://i.pinimg.com/originals/e6/f8/0b/e6f80be8122d7019c37b39b02dd6ec2c.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  margin-bottom: 15px;
}

body {
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://c.tenor.com/NxESS-trmRQAAAAd/wheel-of-fortune-wheel.gif');
  /* background-image: url('https://thumbs.gfycat.com/CleanCelebratedClingfish-max-1mb.gif'); */
  background-size: 100%;
  color: plum;
}

.Warmup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  background-color: rgba(132, 244, 214, 0.772);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  /* border: rgb(252, 193, 244) solid 20px; */
  border: 10px solid transparent;
  border-image: url(https://c.tenor.com/RswRbuJdlxoAAAAC/heaven-angel.gif) 5%;
  /* border-radius: 60px; */
  text-align: center;
  margin: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Warmup-heading {
  font-size: 60px;
  font-weight: bold;
  background-image: url(https://scitechdaily.com/images/Silver-Liquid.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -3px -3px 3px whitesmoke;
  padding: 0;
  margin: 0;
  top:50%;
}

.Warmup-time {
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(99, 93, 93);
  padding: 0;
  margin: 0;
  top:50%;
}

.time {
  font-style: italic;
  font-size: 17px;
}

.Warmup-language {
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(99, 93, 93);
  padding: 0;
  margin: 0;
  top:50%;
}