@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

h1 {
  text-align: center;
  margin-top: 60px;
  font-size: 100px;
  background-image: url(https://i.pinimg.com/originals/e6/f8/0b/e6f80be8122d7019c37b39b02dd6ec2c.gif);
  background-size: 100%;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  margin-bottom: 15px;
}

body {
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://c.tenor.com/NxESS-trmRQAAAAd/wheel-of-fortune-wheel.gif');
  background-size: 100%;
  color: plum;
}

.Warmup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  background-color: rgba(132, 244, 214, 0.772);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border: 10px solid transparent;
  border-image: url(https://c.tenor.com/RswRbuJdlxoAAAAC/heaven-angel.gif) 5%;
  text-align: center;
  margin: 40px;
}

.display:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%{
      box-shadow:
      0 0 100px #5ddcff,
      0 0 400px #4e00c2;
      opacity: 2;
  }
}

.Warmup-heading {
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
  background-image: url(https://scitechdaily.com/images/Silver-Liquid.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -2px 4px 0px white;
  padding: 0;
  margin: 0;
  top:50%;
}

.Warmup-heading:hover {
  text-shadow: -2px 4px 3px white;
}

.Warmup-time {
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(99, 93, 93);
  padding: 0;
  margin: 0;
  top:50%;
}

.time {
  font-style: italic;
  font-size: 17px;
}

.Warmup-language {
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(99, 93, 93);
  padding: 0;
  margin: 0;
  top:50%;
}

@media only screen and (max-width: 390px) {  
  body {
    background-size: 50%;
  }

  h1 {
    text-align: center;
    font-size: 40px;
  }

  .Warmup {
    flex-direction: column;
    font-size: 10px;
  }

  :root {
    --wheel-size: 300px;
  }

  .wheel::after {
    width: 75px;
    height: 75px;
    font-size: 25px;
  }

  .display {
    width: 200px;
    height: 200px;
  }

  .Warmup-time {
    font-size: 16px;
    margin-top: 10px;
  }

  .Warmup-language {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background-size: 100%;
  }

  h1 {
    text-align: center;
    font-size: 80px;
  }

  .Warmup {
    flex-direction: column;
    font-size: 20px;
  }

  :root {
    --wheel-size: 700px;
  }

  .wheel::after {
    width: 150px;
    height: 150px;
    font-size: 45px;
  }

  .display {
    width: 400px;
    height: 400px;
  }

  .Warmup-heading {
    font-size: 60px;
  }

  .Warmup-time {
    font-size: 30px;
  }

  .time {
    font-size: 30px;
  }

  .Warmup-language {
    font-size: 30px;
  }
}